.Footer{
    Width: 100%;
    height: 90vh;
    display: flex;
    background-color: #414753;
    padding-top: 80px;
}
.Sec1{
   color: white; 
   margin-left: 80px;
}
.Sec1 h1{
    padding-top: 25px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;

}
.Sec1 .link{
    line-height: 38px;
    font-weight: 100;
    font-size: 16px;
    justify-content: space-around;
    font-style: normal;

}
.link:hover{
     text-decoration: underline;
}
.Sec2{
   color: white; 
   padding-top: 75px;
   margin-bottom: 20px;
   margin-left: 40px;
}
.Sec2 .link{
    line-height: 38px;
    font-weight: 100;
    font-size: 16px;
    justify-content: space-around;
    font-style: normal;

}
.Sec3{
    color: white;
    margin-left: 50px;
}
.Sec3 h1{
    padding-top: 25px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;

}
.Sec3 p{
    color: white;
    line-height: 38px;
    font-weight: 100;
    font-size: 16px;
    font-style: normal;

}
.Sec4{
    padding-top: 25px;
    line-height: 38px;
    margin-left: 50px;
}
.Sec4 .btna{
    background: #3b5998;
    display: inline-block;
    color: #fff;
    width: 35px;
    height: 40px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-bottom: 30px;
}
.Sec4 .btnb{
    background: #0077b5;
    display: inline-block;
    color: #fff;
    width: 35px;
    box-sizing: border-box;
    margin-bottom: 30px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.Sec4 .btnc{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564,
     rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564,
    rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf,
    rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf,
    rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2,
    rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2,
    rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a,
    rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%,
    #fec66d 100%);
    display: inline-block;
    color: #fff;
    width: 35px;
    box-sizing: border-box;
    margin-bottom: 30px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.Sec5{
    display: flex;
    align-items: right;
    height: 25px;
    margin-top: 350px;
    margin-right: 200px;
}
